{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">
    {% include 'include/alert.html' %}
    <div class="container">
        <div class="row">
            {% include 'include/dashbord_sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">change your password :</strong>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="{%url 'changePassword' %}" method="post">
                                    {% csrf_token %}

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label >current password </label>
                                            <input type="password" name ='current_password' placeholder="Current Password" class='form-control' required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>create new  password </label>
                                            <input type="password" name ='new_password' placeholder="create new Password" class='form-control' required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>confirm new  password </label>
                                            <input type="password" name ='confirm_password' placeholder="confirm new Password" class='form-control' required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                                
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
