{% if messages %}
<div class="messages-container">
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Oops! 🙈</strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<strong>Yay! 🎉</strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<strong>Attention! ⚠️</strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<strong>Heads up! 🌟</strong> {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
